<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8"></meta>
    <title>主页</title>
    <link rel="stylesheet" th:href="@{static/bootstrap-3.3.7-dist/css/bootstrap.css}" type="text/css"></link>
    <script th:src="@{static/jquery-2.1.4.js}"></script>
    <script th:src="@{static/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>
</head>
<body>
   <ul>
      <li><a th:href="@{getAllRole.lovo}">角色维护</a></li>
      <li><a th:href="@{getAllPower.lovo}">权限维护</a></li>
       <li><a>菜单1</a></li>
         <li><a>菜单2</a></li>
           <li><a>菜单2</a></li>
   </ul>
</body>
</html>