<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8"></meta>
    <title>角色-权限维护</title>
    <link rel="stylesheet" th:href="@{static/bootstrap-3.3.7-dist/css/bootstrap.css}" type="text/css"></link>
    <script th:src="@{static/jquery-2.1.4.js}"></script>
    <script th:src="@{static/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <h1 th:text="'角色:'+${rname }+'与权限的维护'"></h1>
            </div>
        </div>
        <div class="row">

            <div class="form-group">
                <div class="checkbox">
                    <span style="color: blue;"><h3>角色拥有的权限有：</h3></span>
                    <div class="row">

                        <div>
                            <label class="col-sm-3 control-label h3" th:each="power,powerState:${powerList}">
                                <input type="checkbox" name="checkedName" checked="checked"
                                       th:value="${power.pid}" th:text="${power.pname}"> </input>
                            </label>
                        </div>
                    </div>
                    <hr/>
                    <span style="color: blue;"><h3>角色没有拥有的权限：</h3></span>
                    <div class="row">
                        <div >
                            <label class="col-sm-3 control-label h3" th:each="power,powerState:${noPowerList}">
                                <!--checkBox中的value需要用th:value-->
                                <input type="checkbox" name="noCheckedName" th:value="${power.pid}" th:text="${power.pname}"></input>

                            </label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button type="button" class="btn btn-primary"
                            onclick="submitPowerId()">提交</button>
                </div>
            </div>

        </div>
        <!-- 分割 -->

    </div>
    <form th:action="@{updateRolePowers}" method="post" id="addordelformId" >
        <input type="text" id="addId" name="addName" />
        <input type="text" id="delId" name="delName" />
        <!--将该角色的角色名和角色id传回去，进行修改-->
        <input type="text" th:value="${rid}" name="rid"/>
        <input type="text" th:value="${rname}" name="rname"></input>
    </form>
    <script type="text/javascript">


        function submitPowerId() {
            //拼接需要添加的权限ID
            var powerAddId = "";
            $.each($("input:checkbox[name='noCheckedName']:checked"),
                function() {
                    powerAddId += $(this).val() + ",";
                });
            //拼接需要删除的权限ID
            var powerDelId = "";
            $.each($("input:checkbox[name='checkedName']"), function() {
                if ($(this).prop('checked') == false) {
                    powerDelId += $(this).val() + ",";
                }
            });
            //把拼接好的字符串放入到隐藏表单
            $("#addId").val(powerAddId);
            $("#delId").val(powerDelId);
            //提交表单

            $("#addordelformId").submit();
        }
    </script>
</body>
</html>